@import './base.css';

:root {
    --kx-dark-black0: rgba(17, 17, 17, 1.0);
    --kx-dark-black0-half: rgba(17, 17, 17, 0.5);

    --kx-dark-white0-qua: rgba(255, 255, 255, 0.25);
    --kx-dark-white0-half: rgba(255, 255, 255, 0.5);
    --kx-dark-white0-3qua: rgba(255, 255, 255, 0.75);
    --kx-dark-white0: rgba(255, 255, 255);
    --kx-dark-white0-dark: rgb(177, 177, 177);

    --kx-dark-neglect: rgb(60, 60, 60);
    --kx-dark-neglect-half: rgba(60, 60, 60, 0.5);
    --kx-dark-neglect-light: rgb(99, 99, 99);

    --kx-dark-activate: rgb(0, 195, 255);
    --kx-dark-activate-em: rgb(57, 209, 255);
    --kx-dark-activate-dark: rgb(39, 132, 161);
    --kx-dark-activate-em-half: rgba(57, 209, 255, 0.5);
}
